# 忽略的文件
.pnp.*
.yarn/unplugged/
.yarn/install-state.gz
.yarn/build-state.yml
node_modules/
.vitepress/cache/
.husky/_

# 接受的文件
!.yarn/patches/
!.yarn/plugins/
!.yarn/releases/
!.yarn/sdks/
!.yarn/versions/
!.yarn/cacheI
!.vitepress/dist/